# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other files and folders
TestProjectUE4/Saved/
TestProjectUE4/Intermediate/
TestProjectUE4/.vs/
TestProjectUE4/Binaries/
TestProjectUE4/TestProjectUE4.sln

TestProjectUE4/Plugins/RawInput/Binaries/
TestProjectUE4/Plugins/RawInput/Intermediate/
